* {
    /* border: 1px solid black; */
    font-family: 'Gantari', sans-serif;
}

#test-div {
    border: 2px solid black;
    padding: 50px;
    margin: 50px auto;
}

#nav-logo {
    height: 40px;
}

#home-hero {
    height: 60vh;
}

.heroes {
    height: 35vh;
}

#credits {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
}